version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3
    environment:
      - PORT=4000
      - DATABASE_URL=./db.sqlite3
      - JWT_SECRET=supersecretkey
    ports:
      - "4000:4000"
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - VITE_API_URL=http://localhost:4000/api
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
