@use "../../styles/variables.scss" as *;

.shell {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
  background: $bg;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.content {
  padding: 18px 22px;
  overflow: auto;
}
