@use "../../styles/variables.scss" as *;

.wrap { display: grid; gap: 6px; }
.label { font-size: 12px; font-weight: 800; color: $textSoft; }

.input {
  height: 38px;
  border-radius: 10px;
  border: 1px solid $border;
  background: $inputBg;
  padding: 0 12px;
  outline: none;
  font-weight: 600;

  &:focus {
    border-color: $activeBorder;
    box-shadow: 0 0 0 3px rgba(16, 88, 248, 0.12);
  }
}
